doctype html
head
  meta(charset='UTF-8')
  title #{pageTitle}
  script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
  script(src='http://code.highcharts.com/highcharts.js')
  
#container(style='width: 550px; height: 400px; margin: 0 auto')
body


  a(href=`/uploadFile/task1/${fileName}`) Task1
  a(href=`/uploadFile/task2/${fileName}`) Task2
  a(href=`/uploadFile/task3/${fileName}`) Task3
  a(href=`/uploadFile/task4/${fileName}`) Task4
  a(href=`/uploadFile/task5/${fileName}`) Task5
  a(href=`/uploadFile/core1/${fileName}`) Core1
  a(href=`/uploadFile/core2/${fileName}`) Core2
  a(href=`/uploadFile/core3/${fileName}`) Core3
  a(href=`/uploadFile/core4/${fileName}`) Core4
  a(href=`/uploadFile/core5/${fileName}`) Core5
  

  script(language='JavaScript').
    $(document).ready(function () {
    var title = {
    text: "#{pageTitle} - #{poto} 대한 #{d}별 능력",
    };
    var subtitle = {
    text: "20180869 전종훈",
    };
    var xAxis = {
    categories: ["core1", "core2", "core3", "core4", "core5"],
    };
    var yAxis = {
    title: {
    text: "(숫자)",
    },
    plotLines: [
    {
    value: 0,
    width: 1,
    color: "#808080",
    },
    ],
    };
    var tooltip = {
    valueSuffix: "\\xB0C",
    };
    var legend = {
    layout: "vertical",
    align: "right",
    verticalAlign: "middle",
    borderWidth: 0,
    };
    var series = [
    {
    name: "Max",
    data: [#{maxArr}],
    },
    {
    name: "MIn",
    data: [#{minArr}],
    },
    {
    name: "average",
    data: [#{avgArr}],
    },
    ];
    var json = {};
    json.title = title;
    json.subtitle = subtitle;
    json.xAxis = xAxis;
    json.yAxis = yAxis;
    json.tooltip = tooltip;
    json.legend = legend;
    json.series = series;
    $("#container").highcharts(json);
    });