doctype html
head
  meta(charset='UTF-8')
  title #{pageTitle}
  script(src='http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js')
  script(src='http://code.highcharts.com/highcharts.js')
  
#container(style='width: 550px; height: 400px; margin: 0 auto')
body






  <a href="/uploadFile/task1">Task1</a>
  <a href="/uploadFile/task2">Task2</a>
  <a href="/uploadFile/task3">Task3</a>
  <a href="/uploadFile/task4">Task4</a>
  <a href="/uploadFile/task5">Task5</a>
  <a href="/uploadFile/core1">Core1</a>
  <a href="/uploadFile/core2">Core2</a>
  <a href="/uploadFile/core3">Core3</a>
  <a href="/uploadFile/core4">Core4</a>
  <a href="/uploadFile/core5">Core5</a>
 



  //- input(type='button', onClick='location.href='#name1'', value='버튼1')
  //- input(type='button', onClick='location.href='#name2'', value='버튼2')
  //- input(type='button', onClick='location.href='#name3'', value='버튼3')
  //- input(type='button', onClick='location.href='#name4'', value='버튼4')
  //- input(type='button', onClick='location.href='#name5'', value='버튼5')
  //- input(type='button', onClick='location.href='#name6'', value='버튼6')
  //- input(type='button', onClick='location.href='#name7'', value='버튼7')
  //- input(type='button', onClick='location.href='#name8'', value='버튼8')
  //- input(type='button', onClick='location.href='#name9'', value='버튼9')
  //- input(type='button', onClick='location.href='#name10';', value='버튼10')




  script.
    

  script(language='JavaScript').
    $(document).ready(function () {
    var title = {
    text: "#{pageTitle}에 대한 core별",
    };
    var subtitle = {
    text: "20180869 전종훈",
    };
    var xAxis = {
    categories: ["core1", "core2", "core3", "core4", "core5"],
    };
    var yAxis = {
    title: {
    text: "(숫자)",
    },
    plotLines: [
    {
    value: 0,
    width: 1,
    color: "#808080",
    },
    ],
    };
    var tooltip = {
    valueSuffix: "\\xB0C",
    };
    var legend = {
    layout: "vertical",
    align: "right",
    verticalAlign: "middle",
    borderWidth: 0,
    };
    var series = [
    {
    name: "Max",
    data: [#{maxArr}],
    },
    {
    name: "MIn",
    data: [#{minArr}],
    },
    {
    name: "average",
    data: [#{avgArr}],
    },
    ];
    var json = {};
    json.title = title;
    json.subtitle = subtitle;
    json.xAxis = xAxis;
    json.yAxis = yAxis;
    json.tooltip = tooltip;
    json.legend = legend;
    json.series = series;
    $("#container").highcharts(json);
    });